.avatar-img-border {
  box-shadow: none !important;
}

<style>
@import url('https://fonts.googleapis.com/css2?family=Trochut:wght@700&display=swap') !important;
</style> 

.h1 {
  font-family: 'Trochut' !important;
}

.navbar-custom {
  background: linear-gradient(to bottom, #3333cc 0%, #ff5050 100%); !important;
}

.navbar-custom .navbar-brand, .navbar-custom .navbar-nav .nav-link {
  color: #FFFFFF !important;
}
