@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.avatar-img-border {  
    border-style: solid;
    border-width: 5px;
    border-color: #FFFFFF; 
    box-shadow: none !important;
}


h1 {
  font-family: 'Unbounded', cursive;
  color : #717171;
}

span.page-subheading {
    font-family: 'Poppins', sans-serif;
}

.navbar-custom {
   background: linear-gradient(to top left, #cc00cc 7%, #33ccff 101%) !important;
}

.navbar-custom .navbar-brand, .navbar-custom .navbar-nav .nav-link {
  color: #FFFFFF !important;
}
