.avatar-img-border {
  box-shadow: none !important;
}

@import url('https://fonts.googleapis.com/css2?family=Trochut:wght@700&display=swap');

.h1 {
  font-family: 'Trochut', cursive !important;
}

.navbar-custom {
  background-color: linear-gradient(to bottom, #3333cc 0%, #ff5050 100%); !important;
}
